* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #080808;
    font-family: "IBM Plex Mono", monospace;
}

.navbar {
    max-width: 1110px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    background: #1B1B1B;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 85px;

}

.nav-links {
    display: flex;
    gap: 70px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links a {
    color: #9C9C9C;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 26px;
}

.social-icons img {
    height: 17px;
    width: auto;
}

.hero {
    max-width: 1110px;
    width: 100%;
    margin: 100px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 500px;
}

.hero-left h1 {
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 700;
    margin: 0;
}

.hero-text {
    color: #9C9C9C;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.cta-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: #3F8E00;
    color: #FFF;
    padding: 21px 64px;
    border-radius: 4px;
    border: 1px solid #62BA1B;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    
    box-shadow: 0 8px 30px rgba(63, 142, 0, 0.5);
}

.hero-right img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.clients {
    max-width: 1110px;
    width: 100%;
    margin: 125px auto 0;
    padding: 0 95px;
}

.worked-with {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0 0 18px 0;
}

.client-logos {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
}

.logo-box {
    width: 160px;
    height: 60px;
    border: 1px solid #2A2A2A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img {
    max-height: 425px;
    width: auto;
}

@media (max-width: 900px) {
    .navbar, .hero, .clients {
        padding: 0 40px;
    }

    .nav-links {
        gap: 20px;
        font-size: 12px;
    }

    .social-icons {
        gap: 15px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 60px;
        margin-top: 60px;
    }

    .hero-left {
        align-items: center;
    }

    .hero-right img {
        width: 200px;
        height: 200px;
    }

    .client-logos {
        flex-wrap: wrap;
        justify-content: center;
    }
}